{# templates/carrito.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Carrito de la compra{% endblock %}
{% block body %}
<div class="contenido">
{% if productos is empty %}
<p> El carrito está vacío </p>
{% else %}
<table>
    <tr>
        <th>Nombre</th><th>Descripción</th>
        <th>Stock</th><th>Peso</th><th>Unidades</th><th>Eliminar</th>
    </tr>
    {% for producto in productos %}
    <tr>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.stock }}</td>
        <td>{{ producto.peso }}</td>
        <td>{{ producto.unidades }}</td>
        <td>
            <form action="{{path('eliminar_carrito')}}" method = 'POST'>
                <input name='unidades' type='number' min ='1' value= '1'>
                <input type = 'submit' value='Eliminar'>
                <input name = 'id' type='hidden'
                value = {{producto.id}}>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<a href = {{ path('hacer_pedido') }}>Realizar Pedido</a>
</div>
{% endif %}
{% endblock %}