{% extends 'base.html.twig' %}

{% block title %}Pedidos{% endblock %}

{% block body %}
    <h1>Pedidos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pedido.id }}</td>
            </tr>
            <tr>
                <th>CodPed</th>
                <td>{{ pedido.CodPed }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ pedido.Fecha ? pedido.Fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Enviado</th>
                <td>{{ pedido.Enviado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pedidos_index') }}">Volver a la lista</a>

    <a href="{{ path('pedidos_edit', {'id': pedido.id}) }}">Editar</a>

    {{ include('pedidos/_delete_form.html.twig') }}
{% endblock %}
